<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/guestLayout">
<head>
    <title>Forgot Password</title>
</head>
<body>
<div layout:fragment="content">

    <form action="forgotPwd" th:action="@{/forgotPwd}" method="post">
        <input type="email" class="form-control" name="email" placeholder="Email"/>
        <button type="submit" class="btn btn-primary btn-block btn-flat" th:text="#{label.submit}">Submit</button>
    </form>
</div>
</body>
</html>