<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer (rootCategories)">
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>Пром<span style="position: relative; top: 8px;">Поставки</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus
                            vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet
                            eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam.
                            Laborum commodi veritatis magni at?
                        </p>
                        <div class="footer-social">
                            <a href="#" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                            <a th:href="@{https://www.instagram.com/prompostavki_mogilev/}" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title" th:text="#{label.userNavigation}">User Navigation</h2>
                        <ul>
                            <li>
                                <a th:href="@{/myAccount}" th:text="#{label.my.account}">My account</a>
                            </li>
                            <li>
                                <a th:href="@{/wishlist}" th:text="#{label.wishlist}">Wishlist</a>
                            </li>
                            <li>
                                <a th:href="@{/posts}" th:text="#{label.posts}">Posts</a>
                            </li>
                            <li>
                                <a th:href="@{/cart}" th:text="#{label.cart}">Posts</a>
                            </li>
                            <li>
                                <a th:href="@{/}" th:text="#{label.home}">Home page</a>
                            </li>
                            <!--                        <li>-->
                            <!--                            <a href="#">Vendor contact</a>-->
                            <!--                        </li>-->
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title" th:text="#{label.categories}">Categories</h2>
                        <ul>
                            <li th:each="cat : ${rootCategories}">
                                <a th:href="@{/categories/{id}(id=${cat.id})}" th:text="${cat.name}">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title" th:text="#{label.newsLetter}">Newsletter</h2>
                        <p th:text="#{label.newsletter.text}">Newsletter text</p>
                        <div class="newsletter-form">
                            <input type="email" th:placeholder="#{label.email}"/>
                            <a th:text="#{label.subscribe}" th:onclick="'javascript:subscribe();'"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <div class="container-fluid">
            <div class="main-footer-map">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aac876df2aecf3a3564ce3c0d2020feee05746dc7e697591bae87a6e8254af9e6&amp;width=100%25&amp;height=426&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="main-footer__contact">
                <div class="main-footer__contact-wrapper">
                    <div class="main-footer__address-wrapper">
                        <div>
                            <p th:text="#{lable.company.address}">Адрес компании</p>
                        </div>
                    </div>
                    <div class="main-footer__tel-wrapper">
                        <div class="main-footer__tel-row main-footer__tel-row--velcom">
                            <div class="row">
                                <a href="tel:+375297205500" title="+375 (29) 720-55-00">
                                    <img th:src="@{/static/assets/img/mts.png}" alt="МТС">
                                    <span style="font-weight: bold;">+375 (29) 720-55-00</span>
                                </a>
                            </div>
                            <div class="row">
                                <a href="tel:+375447205500" title="+375 (44) 720-55-00">
                                    <img th:src="@{/static/assets/img/a1.png}" alt="A1"/>
                                    <span style="font-weight: bold;">+375 (29) 720-55-00</span>
                                </a>
                            </div>
                            <div class="row">
                                <a href="tel:+375257205500" title="+375 (25) 720-55-00">
                                    <img th:src="@{/static/assets/img/life.png}" alt="Life"/>
                                    <span style="font-weight: bold;">+375 (29) 720-55-00</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-footer__mail-wrapper" th:with="companyEmail=${@environment.getProperty('company.email')}">
                    <a th:text="${companyEmail}" th:href="${#strings.concat('mailto:', companyEmail)}">Email company</a>
                </div>
                <div class="main-footer__time">
                    <div class="main-footer__time-inner">
                        <p><span th:text="#{label.workingHours}">Режим работы</span></p>
                        <span th:text="#{label.weekdays}">Пн-пт:</span> 9.00-19.00 <br> <span th:text="#{label.weekends}">Сб-вс:</span> <span th:text="#{label.weekends.text}">выходной</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>© 2019 All Rights Reserved.
                            <a href="#" target="_blank">#</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>