<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.newTag}">Tags - New</title>
</head>
<body>

<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" th:if="${tag.id==null}"><span th:text="#{label.create}">Create</span> <span th:text="#{label.newTag}">New Tag</span></h3>
            <h3 class="box-title" th:if="${tag.id!=null}"><span th:text="#{label.edit}">Edit</span> <span th:text="#{label.tag}">Tag</span></h3>
        </div>
        <div class="box-body">
            <form tag="form" th:action="@{/tags/{id}(id=${tag.id})}" th:object="${tag}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>

                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <label th:text="#{label.name}">Name</label>
                    <input type="text" class="form-control" name="name" th:field="*{name}"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="text-red">Incorrect data</p>
                </div>
                
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>