<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">

<head>
    <title>Category</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div th:replace="fragments/breadcrumb :: breadcrumb (categoryPath=${categoryPath}, currentProduct=null)"></div>
            </div>
            <div class="row" th:if="${category.childCategories!=null && !category.childCategories.isEmpty()}">
                <div class="col-md-3 col-sm-6" th:each="cat : ${category.childCategories}">
                    <!--/*@thymesVar id="product" type="by.lodochkina.wshop.entities.Product"*/-->
                    <a href="#" th:href="@{/categories/{id}(id=${cat.id})}" th:text="${cat.name}">Category name</a>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="sorting">Сортировка</label>
                    <select id="sorting" onchange="location = this.value;" class="form-control"
                            style="margin-bottom: 10px; width: auto;">
                        <!-- when an option is selected, redirect to the value !-->
                        <option value="?sort=name" th:selected="${sort=='name'}">По названию (возрастанию)</option>
                        <!-- change values to what is required !-->
                        <option value="?sort=name_desc" th:selected="${sort=='name_desc'}">По названию (убыванию)
                        </option>
                        <option value="?sort=price" th:selected="${sort=='price'}">Сначала дешевые</option>
                        <option value="?sort=price_desc" th:selected="${sort=='price_desc'}">Сначала дорогие</option>
                        <option value="?sort=oldest" th:selected="${sort=='oldest'}">Сначала старые</option>
                        <option value="?sort=newest" th:selected="${sort=='newest'}">Сначала новые</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-6" th:each="product : ${productPage.content}">
                    <!--/*@thymesVar id="product" type="by.lodochkina.wshop.entities.Product"*/-->
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="assets/img/products/2.jpg" alt=""
                                 th:src="@{'/images/{imageUrl}'(imageUrl=${product.imageUrl})}"/>
                        </div>
                        <h2><a href="#" th:href="@{/products/{id}(id=${product.id})}"
                               th:text="${product.name}">Product name</a></h2>
                        <div class="product-carousel-price">
                            <ins th:text="${product.price}">$9.00</ins>
                        </div>
                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                               data-product_id="70" rel="nofollow" href="#"
                               th:onclick="'javascript:addItemToCart(\'' + ${product.id} + '\');'">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/pager :: pager (page = ${productPage})"></div>
            </div>

        </div>
    </div>
</div>

</body>

</html>