<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.category}">Category</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div th:replace="fragments/breadcrumb :: breadcrumb (categoryPath=${categoryPath}, currentProduct=null)"></div>
            <div th:replace="fragments/childCategories :: childCategories (childCategories=${category.childCategories})"></div>
            <div class="row" th:if="${productPage.content!=null && !productPage.content.isEmpty()}">
                <div class="col-md-12">
                    <label for="sorting" th:text="#{label.sorting}">Сортировка</label>
                    <select id="sorting" onchange="location = this.value;" class="form-control"
                            style="margin-bottom: 10px; width: auto;">
                        <option value="?sort=name" th:selected="${sort=='name'}" th:text="#{label.sorting.name}">По
                            названию (возрастанию)
                        </option>
                        <option value="?sort=name_desc" th:selected="${sort=='name_desc'}"
                                th:text="#{label.sorting.name_desc}">По названию (убыванию)
                        </option>
                        <option value="?sort=price" th:selected="${sort=='price'}" th:text="#{label.sorting.price}">
                            Сначала дешевые
                        </option>
                        <option value="?sort=price_desc" th:selected="${sort=='price_desc'}"
                                th:text="#{label.sorting.price_desc}">Сначала дорогие
                        </option>
                        <option value="?sort=oldest" th:selected="${sort=='oldest'}" th:text="#{label.sorting.oldest}">
                            Сначала старые
                        </option>
                        <option value="?sort=newest" th:selected="${sort=='newest'}" th:text="#{label.sorting.newest}">
                            Сначала новые
                        </option>
                    </select>
                </div>
                <div th:replace="fragments/productColumns :: productColumns (products=${productPage.content})"></div>
            </div>
            <div th:replace="fragments/pager :: pager (page = ${productPage})"></div>
        </div>
    </div>
</div>

</body>

</html>