<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.cart}">Cart</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">

                <div class="woocommerce-info col-md-12" th:if="${#lists.isEmpty(cart.items)}">
                    <h2 th:text="#{label.cart.empty}">Cart is Empty</h2>
                </div>
                <div class="col-md-12" th:unless="${#lists.isEmpty(cart.items)}">
                    <div class="product-content-right">
                        <div class="woocommerce">

                            <h3 id="order_review_heading" th:text="#{label.yourOrder}">Your order</h3>

                            <div id="order_review" style="position: relative;">
                                <table class="shop_table">
                                    <thead>
                                    <tr>
                                        <th class="product-name" th:text="#{label.product}">Product</th>
                                        <th class="product-total" th:text="#{label.total}">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item" th:each="item : ${cart.items}">
                                        <td class="product-name" >
                                            <span th:text="${item.product.name}">Product Name</span>
                                            <strong class="product-quantity" th:text="'× '+${item.quantity}">× 1</strong> </td>
                                        <td class="product-total">
                                            <span class="amount" th:text="${item.getSubTotal(cart.coupon)}">$150.00</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <th:block th:if="${cart.coupon}">
                                        <tr class="cart-subtotal"
                                            th:if="${!cart.priceDiscountCoupon.equals(T(java.math.BigDecimal).ZERO)}">
                                            <th th:text="#{label.cart.coupon.price}">Total discount coupon</th>
                                            <td><span class="amount" th:text="${cart.priceDiscountCoupon}">$15.00</span></td>
                                        </tr>
                                    </th:block>
                                    <tr class="cart-subtotal">
                                        <th th:text="#{label.cart.subtotal}">Cart Subtotal</th>
                                        <td><span class="amount" th:text="${cart.totalAmount}">£15.00</span>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <th th:text="#{label.shipping.and.handling}">Shipping and Handling</th>
                                        <td th:text="#{label.freeShipping}">Free Shipping
<!--                                            <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]"/>-->
                                        </td>
                                    </tr>

                                    <tr class="order-total">
                                        <th th:text="#{label.order.total}">Order Total</th>
                                        <td><strong><span class="amount" th:text="${cart.totalAmount}">£15.00</span></strong> </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <form action="#" th:action="@{/orders}" class="checkout col-md-offset-3 col-md-6" method="post" th:object="${order}">

                                <div id="customer_details">
                                    <div class="woocommerce-shipping-fields">
                                            <div class="shipping_address" style="display: block;">

                                                <p id="shipping_first_name_field" class="form-row form-row-first validate-required">
                                                    <label><span th:text="#{label.firstName}">First Name</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value=""  th:field="*{firstName}" class="input-text "/>
                                                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="text-danger">Incorrect firstName</p>
                                                </p>

                                                <p id="shipping_last_name_field" class="form-row form-row-last validate-required">
                                                    <label><span th:text="#{label.lastName}">Last Name</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value=""  th:field="*{lastName}" class="input-text "/>
                                                <p th:if="${#fields.hasErrors('lastName')}"
                                                   th:errors="*{lastName}" th:errorclass="text-danger">Incorrect lastName</p>
                                                </p>
                                                
                                                <p id="shipping_phone_field" class="form-row form-row-first validate-required">
                                                    <label><span th:text="#{label.phone}">Phone</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" th:field="*{phone}" class="input-text"/>
                                                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="text-danger">Incorrect phone</p>
                                                </p>

                                                <p id="shipping_email_field" class="form-row form-row-first validate-required">
                                                    <label><span th:text="#{label.email}">Email</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" th:field="*{emailId}" class="input-text"/>
                                                <p th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}" th:errorclass="text-danger">Incorrect phone</p>
                                                </p>

                                                <div class="clear"></div>

                                                <p id="shipping_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                    <label><span th:text="#{label.billing.address}">Address</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value=""  th:field="*{addressLine1}"  class="input-text "/>
                                                <p th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}" th:errorclass="text-danger">Incorrect addressLine1</p>
                                                </p>

                                                <p id="shipping_address_2_field" class="form-row form-row-wide address-field">
                                                    <input type="text" value=""  th:field="*{addressLine2}" class="input-text "/>
                                                <p th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}" th:errorclass="text-danger">Incorrect addressLine2</p>
                                                </p>

                                                <p id="shipping_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                                                    <label><span th:text="#{label.billing.city}">City</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value=""  th:field="*{city}" class="input-text "/>
                                                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:errorclass="text-danger">Incorrect city</p>
                                                </p>

                                                <p id="shipping_state_field" class="form-row form-row-first address-field validate-state" data-o_class="form-row form-row-first address-field validate-state">
                                                    <label th:text="#{label.billing.state}">State</label>
                                                    <input type="text" th:field="*{state}"  value="" class="input-text "/>
                                                <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}" th:errorclass="text-danger">Incorrect state</p>
                                                </p>
                                                <p id="shipping_postcode_field" class="form-row form-row-last address-field validate-required validate-postcode" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                                                    <label><span th:text="#{label.billing.zipCode}">Zip Code</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <input type="text" value=""  th:field="*{zipCode}" class="input-text "/>
                                                <p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" th:errorclass="text-danger">Incorrect zipCode</p>
                                                </p>
                                                <p id="shipping_country_field" class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated">
                                                    <label><span th:text="#{label.billing.country}">Country</span> <abbr title="required" class="required">*</abbr>
                                                    </label>
                                                    <select class="country_to_state country_select" th:field="*{country}" >
                                                        <option value="BY">Belarus</option>
                                                    </select>
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                </div>
                                <div id="payment">

                                    <div class="form-row place-order">
                                        <input type="submit" th:value="#{label.order.placeOrder}" id="place_order" name="woocommerce_checkout_place_order" class="button alt button-form"/>
                                    </div>

                                    <div class="clear"></div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>