<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.forgetPwd}">Forget password</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    <form id="login-form-wrap" th:action="@{/forgetPwd}" method="post">
                        <div class="form-group">
                            <div class="control-group">
                                <label for="email"><span th:text="#{label.email}">Email</span> <span class="required">*</span></label>
                                <input type="email" id="email" name="email" th:placeholder="#{label.email}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-group">
                                <input type="submit" th:value="#{label.restore}" class="button"/>
                            </div>
                        </div>
                        <p><span th:text="#{label.newCustomer}">New Customer?</span> <a href="#" th:href="@{/register}" th:text="#{label.register}">Register</a></p>
                        <p><span th:text="#{label.forgetPassword}">Forget password?</span> <a href="#" th:href="@{/forgetPwd}" th:text="#{label.forgetPwd}">New password</a></p>
                        </p>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>