<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.home}">Home</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${info}" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span th:text="${info}"></span>
    </div>
    <div th:replace="fragments/slider :: slider (products=${top5Products})"></div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row" th:each="cat : ${categories}">
                <div class="woocommerce-info">
                    <a class="" th:href="@{/categories/{id}(id=${cat.id})}"
                       th:text="#{label.category(${cat.name})}">Category Name</a>
                </div>
                <div th:replace="fragments/productColumns :: productColumns (products=${cat.getProducts()})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>