<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.home}">Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row" th:each="cat : ${categories}">
                <div class="woocommerce-info">
                    <a class="" th:href="@{/categories/{id}(id=${cat.id})}"
                       th:text="#{label.category(${cat.name})}">Category Name</a>
                </div>
                <div th:replace="fragments/productColumns :: productColumns (products=${cat.getProducts()})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>