<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/mainLayout">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row" th:each="cat : ${categories}">
                <div class="woocommerce-info">
                    <a class="" th:href="@{/categories/{id}(id=${cat.id})}"
                       th:text="${'Category: '+cat.name}">Category Name</a>
                </div>
                <div class="col-md-3 col-xs-6" th:each="product : ${cat.products}">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="assets/img/products/2.jpg" alt=""
                                 th:src="@{'/images/{imageUrl}'(imageUrl=${product.imageUrl})}"/>
                        </div>
                        <h2><a href="#" th:href="@{/products/{id}(id=${product.id})}"
                               th:text="${product.name}">Product Name</a></h2>
                        <div class="product-carousel-price">
                            <ins th:text="${product.price}">$9.00</ins>
                        </div>
                        <div class="product-option-shop container-fluid">
                            <div class="row">
                                <a class="add_to_cart_button col-md-8" data-quantity="1" data-product_sku=""
                                   data-product_id="70"
                                   rel="nofollow" th:onclick="'javascript:addItemToCart(\'' + ${product.id} + '\');'">Add
                                    to cart</a>
                                <a th:style="${wishList.contains(product) ? 'display:none' : ''}"
                                   sec:authorize="hasRole('ROLE_USER')" th:sec class="add_to_cart_button col-md-4"
                                   data-quantity="1" data-product_sku=""
                                   data-product_id="70" rel="nofollow"
                                   th:onclick="'javascript:addProductToWishlist(\'' + ${product.id} + '\',this);'"><i
                                        class="fa fa-heart-o" aria-hidden="true"></i></a>
                                <a th:style="${!wishList.contains(product) ? 'display:none' : ''}"
                                   sec:authorize="hasRole('ROLE_USER')" class="add_to_cart_button col-md-4"
                                   data-quantity="1" data-product_sku=""
                                   data-product_id="70" rel="nofollow"
                                   th:onclick="'javascript:removeProductFromWishlist(\'' + ${product.id} + '\',this);'"><i
                                        class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>