<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">

<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    <form id="login-form-wrap" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <div class="control-group">
                                <label for="username">Email <span class="required">*</span></label>
                                <input type="text" id="username" name="username" placeholder="Email"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-group">
                                <label for="password">Password <span class="required">*</span></label>
                                <input type="password" id="password" name="password" placeholder="Password"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-group">
                                <input type="submit" value="Login" class="button"/>
                            </div>
                        </div>
                        <p>
                            <div th:if="${param.error}" class="alert alert-danger alert-dismissable" >
                        <p><i class="icon fa fa-ban"></i> <span th:text="#{error.login_failed}">Invalid Email and Password.</span></p>
                <div th:if="${param.logout}" class="alert alert-info alert-dismissable" >
                    <p><i class="icon fa fa-info"></i> <span th:text="#{info.logout_success}">You have been logged out.</span></p>
                </div>
                <div th:if="${info!=null}" class="alert alert-warning alert-dismissable" >
                    <p><i class="icon fa fa-warning"></i> <span th:text="${info}"></span></p>
                </div>
                </p>
                <p class="lost_password">
                    New Customer? <a href="#" th:href="@{/register}" th:text="#{label.register}">Register</a>
                </p>
                <div class="clear"></div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>

</body>

</html>