<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.my.account}">My Account</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div role="tabpanel">
                <ul class="customer-tab" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#profile"
                           aria-controls="profile" role="tab" data-toggle="tab" th:text="#{label.customerInfo}">
                            Customer Info</a></li>
                    <li role="presentation">
                        <a href="#orders"
                           aria-controls="orders" role="tab" data-toggle="tab" th:text="#{label.orders}">Orders</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="profile">
                        <h2 th:text="#{label.customerInfo}">Customer Info</h2>
                        <form role="form" action="#" th:object="${customer}"
                              method="post">
                            <div class="form-group">
                                <label th:text="#{label.firstName}">FirstName</label>
                                <input type="text"
                                       class="form-control" th:field="*{firstName}"
                                       readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.lastName}">LastName</label>
                                <input type="text" class="form-control"
                                       th:field="*{lastName}" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.email}">Email</label>
                                <input type="email" class="form-control"
                                       th:field="*{email}" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.phone}">Phone</label>
                                <input type="text" class="form-control"
                                       th:field="*{phone}" readonly="readonly"/>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="orders">
                        <h2 th:text="#{label.orders}">Orders</h2>
                        <table cellspacing="0" class="shop_table cart">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th th:text="#{label.order.number}">Order Number</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order,iterStat : ${orders}">
                                <td><span th:text="${iterStat.count}">1</span></td>
                                <td><a href="#" th:text="${order.orderNumber}"
                                       th:href="@{/orders/{id}(id=${order.id})}">OrderNumber</a>
                                </td>
                                <td> <span th:if="${order.status==T(by.lodochkina.wshop.entities.OrderStatus).NEW}"
                                           class="label label-info"
                                           th:text="#{label.order.status.new}">NEW</span>
                                    <span th:if="${order.status==T(by.lodochkina.wshop.entities.OrderStatus).IN_PROCESS}"
                                          class="label label-primary"
                                          th:text="#{label.order.status.inProgress}">IN_PROCESS</span>
                                    <span th:if="${order.status==T(by.lodochkina.wshop.entities.OrderStatus).COMPLETED}"
                                          class="label label-success"
                                          th:text="#{label.order.status.completed}">COMPLETED</span>
                                    <span th:if="${order.status==T(by.lodochkina.wshop.entities.OrderStatus).FAILED}"
                                          class="label label-danger"
                                          th:text="#{label.order.status.failed}">FAILED</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>