<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.newPassword}">New password</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form id="login-form-wrap" th:action="@{/login/forget}" th:object="${restorePasswordDto}" method="post">
                        <input th:type="text" hidden="hidden" th:field="*{code}"/>
                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error' : ''">
                                <label for="password" th:text="#{label.password}">Password <span class="required">*</span></label>
                                <input type="password" th:field="*{password}" id="password" class="form-control"/>
                                <label class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect
                                    data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('password2')} ? 'has-error' : ''">
                                <label for="password2" th:text="#{label.password}">Password <span class="required">*</span></label>
                                <input type="password" th:field="*{password2}" id="password2" class="form-control"/>
                                <label class="help-block" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Incorrect data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group">
                                <input type="submit" th:value="#{label.newPassword}" class="button"/>
                            </div>
                        </div>

                        <p class="lost_password">
                            <a href="#" th:href="@{/login}" th:text="#{label.login}">Login</a>
                        </p>

                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>