<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.orderConfirmation}">Order Confirmation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">

                <div class="woocommerce-info col-md-offset-2 col-md-8">
                    <div th:unless="${order}" >
                        <h2 th:text="#{label.order.notFound}">No order found</h2>
                    </div>
                    <div th:if="${order}" >
                        <h2 th:text="#{label.order.placedSuccess}">Your order has been placed successfully.</h2>
                        <h2>
                            <span th:text="#{label.order.number}">Order Number</span> : <span th:text="${order.orderNumber}">Number</span>
                        </h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th th:text="#{label.name}">Name</th>
                                <th th:text="#{label.quantity}">Quantity</th>
                                <th th:text="#{label.cost}">Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${order.items}">
                                <td th:text="${item.product.name}">product.name</td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.price * item.quantity}">price</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="cart-subtotal">
                                <th th:text="#{label.cart.subtotal}">Order Subtotal</th>
                                <td><span class="amount" th:text="${order.totalAmount}">£15.00</span>
                                </td>
                            </tr>

                            <tr class="shipping">
                                <th th:text="#{label.shipping.and.handling}">Shipping and Handling</th>
                                <td th:text="#{label.freeShipping}">Free Shipping</td>
                            </tr>

                            <tr class="order-total">
                                <th th:text="#{label.order.total}">Order Total</th>
                                <td><strong><span class="amount" th:text="${order.totalAmount}">£15.00</span></strong> </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>