<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.post(${post.title})}">Post</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid shadow"
         style="background-color: #fafafa; margin-bottom: 15px;">
        <div class="row">
            <img th:src="@{'/img/{imgTitle}'(imgTitle=${post.imgTitle})}"
                 class="img-responsive center-block"
                 style="min-height: 200px;object-fit: cover;max-height: 300px;width: 100%;">
        </div>
        <div class="row">
            <div class="post-content">
                <div class="post-content-title">
                    <h2 th:text="${post.getTitle()}" style="text-align: center; margin: 0; text-transform: uppercase;">
                    </h2>
                    <span th:text="${#dates.format(post.createOn, 'dd-MM-yyyy HH:mm')}"></span>
                </div>
                <!-- <div class="post-content-description">
                     <div th:text="${post.description}"></div>
                 </div>-->
                <div class="post-content-content" style="padding: 15px;" th:utext="${post.content}">
                </div>
            </div>
        </div>
        <div th:replace="fragments/social_links :: social_links (post = ${post})"></div>
    </div>
</div>
</body>
</html>