<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">
<head>
    <title>Post</title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${post.getTitle()}"></div>
    <div th:text="${post.description}"></div>
    <img th:src="@{'/images/{imgTitle}'(imgTitle=${post.imgTitle})}" alt="">
    <div th:text="${post.createOn}"></div>
    <div th:remove="tag" th:utext="${post.content}"></div>
</div>
</body>
</html>