<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">

<head>
    <title>Product</title>
</head>
<body>
<div layout:fragment="content">

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments/breadcrumb :: breadcrumb (categoryPath=${categoryPath}, currentProduct=${product})"></div>
                <div th:replace="fragments/tags :: tags (tags=${product.tags})"></div>
                <div class="col-md-offset-2 col-md-8">
                    <div class="product-content-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="assets/img/product-2.jpg" alt=""
                                             th:src="@{'/images/{imageUrl}'(imageUrl=${product.imageUrl})}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name" th:text="${product.name}">ProductName</h2>
                                    <div class="product-inner-price">
                                        <ins th:text="${product.price}">$9.00</ins>
                                    </div>

                                    <div>
                                        <button class="add_to_cart_button" type="submit"
                                                th:onclick="'javascript:addItemToCart(\'' + ${product.id} + '\');'">Add to cart</button>
                                    </div>

                                    <div class="product-inner-category">
                                        <h2>Product Description</h2>
                                        <p th:text="${product.description}">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>