<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.productSearch}">Product Search Results</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">

            <div class="row">
                <div class="woocommerce-info">
                    <span th:text="#{label.productSearch}">Product Search Results</span>
                </div>
                <div th:replace="fragments/productColumns :: productColumns (products=${products})"></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>