<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.register}">Register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form id="login-form-wrap" th:action="@{/register}" th:object="${customer}" method="post">

                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error' : ''">
                                <label for="firstName"><span th:text="#{label.firstName}">FirstName</span> <span class="required">*</span></label>
                                <input type="text" th:field="*{firstName}" id="firstName" class="form-control"/>
                                <label class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect
                                    data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error' : ''">
                                <label for="lastName"><span th:text="#{label.lastName}">LastName</span> <span class="required">*</span></label>
                                <input type="text" th:field="*{lastName}" id="lastName" class="form-control"/>
                                <label class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect
                                    data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
                                <label for="email"><span th:text="#{label.email}">Email</span> <span class="required">*</span></label>
                                <input type="email" th:field="*{email}" id="email" class="form-control"/>
                                <label class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error' : ''">
                                <label for="password"><span th:text="#{label.password}">Password</span> <span class="required">*</span></label>
                                <input type="password" th:field="*{password}" id="password" class="form-control"/>
                                <label class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect
                                    data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-error' : ''">
                                <label for="phone"><span th:text="#{label.phone}">Phone</span> <span class="required">*</span></label>
                                <input type="text" th:field="*{phone}" id="phone" class="form-control"  placeholder="+375(**)*******"/>
                                <label class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect data</label>
                            </div>
                        </div>

                        <div class="form-group" style="display: flex; justify-content: center;">
                            <div class="control-group" th:classappend="${captchaError!=null} ? 'has-error' : ''">
                                <div class="g-recaptcha" data-sitekey="6LeLesQUAAAAAGrCwUF52i7oCzwiVR4THZl-KMFB"></div>
                                <input type="hidden" class="form-control"/>
                                <label class="help-block" th:if="${captchaError!=null}" th:text="${captchaError}">Incorrect data</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-group">
                                <input type="submit" th:value="#{label.register}" class="button button-form"/>
                            </div>
                        </div>

                        <div th:if="${info!=null}" class="alert alert-warning alert-dismissable">
                            <p><i class="icon fa fa-warning"></i> <span th:text="${info}"></span></p>
                        </div>

                        <p class="lost_password">
                            <a href="#" th:href="@{/login}" th:text="#{label.login}">Login</a>
                        </p>

                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        $(function(){
            $("#phone").mask("+375(99)9999999");
        });
    </script>
</th:block>
</body>
</html>