<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.newProduct}">Products - New</title>
</head>
<body>
<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><span th:text="#{label.create}">Create</span> <span th:text="#{label.newProduct}">New Product</span></h3>
        </div>
        <div class="box-body">
            <!--/*@thymesVar id="product" type="by.lodochkina.wshop.entities.Product"*/-->
            <form role="form" th:action="@{/products}" th:object="${product}"
                  method="post" enctype="multipart/form-data">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
                   th:class="text-red">Incorrect data</p>

                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <label th:text="#{label.name}">Name</label>
                    <input type="text" class="form-control" name="name" th:field="*{name}"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       th:class="text-red">Incorrect data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('sku')}? 'has-error'">
                    <label th:text="#{label.sku}">SKU</label>
                    <input type="text" class="form-control" name="sku" th:field="*{sku}"/>
                    <p th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"
                       th:class="text-red">Incorrect data</p>
                </div>

                <div class="form-group">
                    <label th:text="#{label.disabled}">Disabled</label>
                    <input type="checkbox" th:field="*{disabled}" />
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                    <label th:text="#{label.price}">Price</label>
                    <input type="text" class="form-control" name="price" th:field="*{price}"/>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                       th:class="text-red">Incorrect data</p>
                </div>


                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                    <label th:text="#{label.description}">Description</label>
                    <textarea name="description" id="editor" rows="10" cols="80" th:field="*{description}"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-red">Incorrect data</p>
                </div>

                <div id="images" class="form-group" th:classappend="${#fields.hasErrors('imagesUrl')}? 'has-error'">
                    <div style="margin-bottom: 5px">
                        <label th:text="#{label.image}">Image</label> <a class="btn btn-success" onclick="addImage()"
                                                                         th:text="#{label.addImage}">Add
                        more images</a>
                    </div>
                    <div class="img-wrapper">
                        <div class="input-group">
                        <span class="input-group-addon ckfinder-popup" th:text="#{label.browseServer}"
                              th:onclick="selectFileWithCKFinder()">Browse Server</span>
                            <input readonly type="text" class="form-control" name="imagesUrl"/>
                            <span class="input-group-addon ckfinder-popup" style="color : red; display: none;"
                                  th:onclick="removeImg()"><i
                                class="fa fa-trash" aria-hidden="true"></i></span>
                        </div>
                        <img class="prev" hidden="hidden"/>
                    </div>
                    <p th:if="${#fields.hasErrors('imagesUrl')}" th:errors="*{imagesUrl}" th:class="text-red">
                        Incorrect data
                    </p>
                </div>

                <div class="form-group"  th:if="${categoriesList!=null && !categoriesList.isEmpty()}">
                    <label th:text="#{label.parentCategory}">Category</label>
                    <div>
                        <select class="form-control" th:field="*{category}">
                            <option th:value="0" th:text="#{label.choseCategory}">Choose category</option>
                            <option th:each="cat : ${categoriesList}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}">Category
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" th:if="${producerList!=null && !producerList.isEmpty()}">
                    <label th:text="#{label.producer}">Producer</label>
                    <div>
                        <select class="form-control" th:field="*{producer}">
                            <option th:value="0" th:text="#{label.chooseProducer}">Choose producer</option>
                            <option th:each="producer : ${producerList}"
                                    th:value="${producer.id}"
                                    th:text="${producer.name}">Producer
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" th:if="${unitList!=null && !unitList.isEmpty()}">
                    <label th:text="#{label.unit}">Unit</label>
                    <div>
                        <select class="form-control" th:field="*{unit}">
                            <option th:value="0" th:text="#{label.chooseUnit}">Choose unit</option>
                            <option th:each="un : ${unitList}"
                                    th:value="${un.id}"
                                    th:text="${un.name}">Unit
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" th:if="${tagList!=null && !tagList.isEmpty()}">
                    <label th:text="#{label.tags}">Tags</label>
                    <select class="form-control" th:field="*{tags}" multiple="multiple">
                        <option th:each="tag : ${tagList}" th:value="${tag.id}" th:text="${tag.name}">Tag name
                        </option>
                    </select>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div id="templates" style="display: none">
        <div>
            <div class="input-group">
                        <span class="input-group-addon ckfinder-popup" th:text="#{label.browseServer}"
                              th:onclick="selectFileWithCKFinder()">Browse Server</span>
                <input readonly type="text" class="form-control" name="imagesUrl"/>
                <span class="input-group-addon ckfinder-popup" style="color : red; display: none;"
                      th:onclick="removeImg()"><i
                        class="fa fa-trash" aria-hidden="true"></i></span>
            </div>
            <img class="prev" hidden="hidden"/>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        var editor = CKEDITOR.replace('editor', {
            height: 600
        });
        CKFinder.setupCKEditor(editor);

        function addImage() {
            const imageWrappers = document.getElementsByClassName('img-wrapper');
            if (imageWrappers.length > 3) {
                alert('Не больше 4 фотографий');
            } else {
                const imageWrapperTemplate = document.getElementById('templates').firstElementChild.cloneNode(true);
                imageWrapperTemplate.classList.add('img-wrapper');
                const imagesDiv = document.getElementById('images');
                imagesDiv.insertBefore(imageWrapperTemplate, imagesDiv.lastElementChild);
            }
        }

        function removeImg() {
            const currentTarget = event.currentTarget;
            currentTarget.style.display = 'none';
            currentTarget.previousElementSibling.value = '';
            currentTarget.parentElement.nextElementSibling.hidden = true;
        }

        function selectFileWithCKFinder() {
            const inputElement = event.target.nextElementSibling;
            const removeElement = inputElement.nextElementSibling;
            CKFinder.popup({
                chooseFiles: true,
                width: 800,
                height: 600,
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        var file = evt.data.files.first();
                        inputElement.value = file.getUrl().substr(file.getUrl().indexOf('/img/') + 5);
                        removeElement.style.display = '';
                        const imageElement = removeElement.parentElement.nextElementSibling;
                        imageElement.src = file.getUrl();
                        imageElement.hidden = false;
                    });

                    finder.on('file:choose:resizedImage', function (evt) {
                        inputElement.value = evt.data.resizedUrl.substr(evt.data.resizedUrl.indexOf('/img/') + 5);
                        const imageElement = inputElement.parentElement.nextElementSibling;
                        imageElement.src = evt.data.resizedUrl;
                        imageElement.hidden = false;
                    });
                }
            });
        }
    </script>
</th:block>

</body>

</html>