<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title><span th:text="#{label.products}">Products</span> - <span th:text="#{label.edit}">Edit</span></title>
</head>
<body>

<div layout:fragment="content">
    <!--/*@thymesVar id="product" type="by.lodochkina.wshop.entities.Product"*/-->
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><span th:text="#{label.products}">Products</span> - <span th:text="#{label.edit}">Edit</span></h3>
        </div>
        <div class="box-body">
            <form role="form" th:action="@{/products/{id}(id=${product.id})}"
                  th:object="${product}" method="post"  enctype="multipart/form-data">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
                   th:class="text-red">Incorrect data</p>

                <div class="form-group">
                    <label th:text="#{label.name}">Name</label>
                    <input type="text" class="form-control" name="name" th:field="*{name}" readonly="readonly"/>
                </div>

                <div class="form-group">
                    <label th:text="#{label.sku}">SKU</label>
                    <input type="text" class="form-control" name="sku" th:field="*{sku}" readonly="readonly"/>
                </div>

                <div class="form-group">
                    <label th:text="#{label.disabled}">Disabled</label>
                    <input type="checkbox" th:field="*{disabled}"/>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                    <label th:text="#{label.price}">Price</label>
                    <input type="text" class="form-control" name="price" th:field="*{price}"/>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                       th:class="text-red">Incorrect data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                    <label th:text="#{label.description}">Description</label>
                    <textarea name="description" id="editor" rows="10" cols="80" th:field="*{description}"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-red">
                        Incorrect data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('imageUrl')}? 'has-error'">
                    <label th:text="#{label.image}">Image</label>
                    <div class="input-group">
                        <span id="ckfinder-popup-1" class="input-group-addon ckfinder-popup" th:text="#{label.browseServer}">Browse Server</span>
                        <input readonly type="text" class="form-control" th:field="*{imageUrl}"/>
                        <span id="ckfinder-popup-1-delete" class="input-group-addon ckfinder-popup"
                              th:style="${product.imageUrl!=null && product.imageUrl!=''  ? 'color:red' : 'display:none; color:red'}"><i
                                class="fa fa-trash" aria-hidden="true"></i></span>
                    </div>
                    <p th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" th:class="text-red">
                        Incorrect data
                    </p>
                    <img th:hidden="${(product.imageUrl==null || #strings.isEmpty(product.imageUrl))}" id="prev"
                         th:src="${(product.imageUrl !=null && !#strings.isEmpty(product.imageUrl)) ? #strings.concat('/img/', product.imageUrl) : ''}"
                         height="100" width="100" style="margin-top: 5px;"/>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'has-error'">
                    <label th:text="#{label.parentCategory}">Category</label>
                    <div>
                        <select class="form-control" th:field="*{category}">
                            <option th:value="0" th:text="#{label.parentCategory}">Choose category</option>
                            <option th:each="cat : ${categoriesList}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}">Category</option>
                        </select>
                        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                           th:class="text-red">Incorrect data</p>
                    </div>
                </div>

                <div class="form-group" th:if="${producerList!=null && !producerList.isEmpty()}">
                    <label th:text="#{label.producer}">Producer</label>
                    <div>
                        <select class="form-control" th:field="*{producer}">
                            <option th:value="0" th:text="#{label.chooseProducer}">Choose producer</option>
                            <option th:each="producer : ${producerList}"
                                    th:value="${producer.id}"
                                    th:text="${producer.name}">Producer
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" th:if="${unitList!=null && !unitList.isEmpty()}">
                    <label th:text="#{label.unit}">Unit</label>
                    <div>
                        <select class="form-control" th:field="*{unit}">
                            <option th:value="0" th:text="#{label.chooseUnit}">Choose unit</option>
                            <option th:each="un : ${unitList}"
                                    th:value="${un.id}"
                                    th:text="${un.name}">Unit
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" th:if="${tagList!=null && !tagList.isEmpty()}">
                    <label th:text="#{label.tags}">Tags</label>
                    <select class="form-control" th:field="*{tags}" multiple="multiple">
                        <option th:each="tag : ${tagList}" th:value="${tag.id}" th:text="${tag.name}">Tag name
                        </option>
                    </select>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        var editor = CKEDITOR.replace('editor', {
            height: 600
        });
        CKFinder.setupCKEditor(editor);
        var button1 = document.getElementById('ckfinder-popup-1');
        var button2 = document.getElementById('ckfinder-popup-1-delete');
        button1.onclick = function () {
            selectFileWithCKFinder('imageUrl');
        };
        button2.onclick = function f() {
            document.getElementById('imageUrl').value = "";
            document.getElementById('prev').hidden = true;
            document.getElementById('ckfinder-popup-1-delete').style.display = "none";
        };
        function selectFileWithCKFinder(elementId) {
            CKFinder.popup({
                chooseFiles: true,
                width: 800,
                height: 600,
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        var file = evt.data.files.first();
                        var output = document.getElementById(elementId);
                        output.value = file.getUrl().substr(file.getUrl().indexOf('/img/')+5);
                        document.getElementById('ckfinder-popup-1-delete').style.display = '';
                        document.getElementById('prev').src = '/img/'.concat(output.value);
                        document.getElementById('prev').hidden = false;
                    });

                    finder.on('file:choose:resizedImage', function (evt) {
                        var output = document.getElementById(elementId);
                        output.value = evt.data.resizedUrl.substr(evt.data.resizedUrl.indexOf('/img/')+5);
                        document.getElementById('prev').src = '/img/'.concat(output.value);
                        document.getElementById('prev').hidden = false;
                    });
                }
            });
        }
    </script>
</th:block>
</body>
</html>