<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.quanityCouponItem}">Quantity coupon item</title>
</head>
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="quantityCouponItem" type="by.lodochkina.wshop.entities.coupons.QuantityCouponItem"*/-->
    <!--/*@thymesVar id="products" type="List<by.lodochkina.wshop.entities.Product>"*/-->
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" th:text="#{label.quanityCouponItem}">Quanity coupon item</h3>
        </div>
        <div class="box-body">
            <!--/*@thymesVar id="couponId" type="java.lang.Long"*/-->
            <form role="form" th:action="@{/coupons/{couponId}/addQuantityCouponItem(couponId=${couponId})}"
                  th:object="${quantityCouponItem}"
                  method="post" enctype="multipart/form-data">

                <input type="number" hidden="true" th:field="*{id}"/>

                <div class="form-group" th:if="${products!=null && !products.isEmpty()}"
                     th:classappend="${#fields.hasErrors('product')}? 'has-error'">
                    <label th:text="#{label.products}">Products</label>
                    <div>
                        <select class="form-control" th:field="*{product}">
                            <option th:value="0" th:text="#{label.chooseProduct}">Choose product</option>
                            <!--/*@thymesVar id="pr" type="by.lodochkina.wshop.entities.Product"*/-->
                            <option th:each="pr : ${products}"
                                    th:value="${pr.id}"
                                    th:text="${pr.name}">
                                Product name
                            </option>
                        </select>
                    </div>
                    <p th:if="${#fields.hasErrors('product')}" th:errors="*{product}" th:class="text-red">Incorrect
                        data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('quantity')}? 'has-error'">
                    <label th:text="#{label.quantityDiscount}">Quantity discount</label>
                    <input type="text" class="form-control" name="quantity" th:field="*{quantity}"/>
                    <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                       th:class="text-red">Incorrect data</p>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>