<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">
<head>
    <title th:text="#{label.customers}">Customers</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" th:text="#{label.customers}">Customers</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th th:text="#{label.name}">Name</th>
                            <th th:text="#{label.email}">Email</th>
                            <th th:text="#{label.subscribe}">Subscribed</th>
                            <th th:text="#{label.view}">View</th>
                        </tr>
                        <tr th:each="customer,iterStat : ${customers}">
                            <!--/*@thymesVar id="customer" type="by.lodochkina.wshop.entities.Customer"*/-->
                            <td><span th:text="${iterStat.count}">1</span></td>
                            <td th:text="${customer.firstName}">Customer Name</td>
                            <td th:text="${customer.email}">Customer Email</td>
                            <td th:text="${customer.subscribe}? #{label.subscribe} : #{label.unsubscribe}">Subscribed</td>
                            <td><a th:href="@{/customers/{id}(id=${customer.id})}"
                                   class="btn btn-sm btn-default"><i class="fa fa-search"></i> <span th:text="#{label.view}">View</span></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>