<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">

<head>
    <title>Units - New</title>
</head>
<body>

<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Create New Unit</h3>
        </div>
        <div class="box-body">
            <form unit="form" th:action="@{/units/{id}(id=${unit.id})}" th:object="${unit}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>

                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" th:field="*{name}" placeholder="Enter Unit Name"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="text-red">Incorrect data</p>
                </div>
                
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>