<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">

<head>
    <title>
        Домашнаяя страница
    </title>
</head>
<body>

<div layout:fragment="pageHeader">
    <section class="content-header">
        <h1>
            WShop Administration
            <small>Manage WShop Site Content</small>
        </h1>
    </section>
</div>

<div layout:fragment="content">
    <p>
        Welcome User!
    </p>
</div>
</body>
</html>