<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title>Access Denied</title>
</head>
<body>
<div layout:fragment="pageHeader">
    <section class="content-header">
        <h3><i class="fa fa-warning text-red"></i> You are not allowed to view this content.</h3>
    </section>
</div>
<div layout:fragment="content">

    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.
            </p>
        </div>
        <!-- /.error-content -->
    </div>

</div>

</body>

</html>