<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout">

<head>
    <title th:text="#{label.post}">Posts - New</title>
</head>
<body>

<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" th:if="${post.id==null}" th:text="#{label.newPost}">New Post</h3>
            <h3 class="box-title" th:if="${post.id!=null}"><span th:text="#{label.edit}">Edit</span> <span th:text="#{label.post}">Post</span></h3>
        </div>
        <div class="box-body">
            <form post="form" th:action="@{/posts/{id}(id=${post.id})}" th:object="${post}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>

                <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
                    <label th:text="#{label.title}">Title</label>
                    <input type="text" class="form-control" name="title" th:field="*{title}"/>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:class="text-red">Incorrect data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                    <label th:text="#{label.description}">Description</label>
                    <input type="text" class="form-control" name="description" th:field="*{description}"/>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-red">
                        Incorrect data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('imgTitle')}? 'has-error'">
                    <label th:text="#{label.image}">Title Image</label>
                    <div class="input-group">
                        <span id="ckfinder-popup-1" class="input-group-addon ckfinder-popup" th:text="#{label.browseServer}">Browse Server</span>
                        <input readonly type="text" class="form-control" th:field="*{imgTitle}">
                        <span id="ckfinder-popup-1-delete" class="input-group-addon ckfinder-popup"
                              th:style="${post.imgTitle!=null && post.imgTitle!=''  ? 'color:red' : 'display:none; color:red'}"><i
                                class="fa fa-trash" aria-hidden="true"></i></span>
                    </div>
                    <p th:if="${#fields.hasErrors('imgTitle')}" th:errors="*{imgTitle}" th:class="text-red">
                        Incorrect data
                    </p>
                    <img th:hidden="${(post.imgTitle==null || #strings.isEmpty(post.imgTitle))}" id="prev"
                         th:src="${(post.imgTitle !=null && !#strings.isEmpty(post.imgTitle)) ? #strings.concat('/img/', post.imgTitle) : ''}"
                         height="100" width="100" style="margin-top: 5px;"/>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('createOn')}? 'has-error'">
                    <label th:text="#{label.date}">Date</label>
                    <input type="datetime-local" class="form-control" name="createOn" th:field="*{createOn}"/>
                    <p th:if="${#fields.hasErrors('createOn')}" th:errors="*{createOn}" th:class="text-red">Incorrect data</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('content')}? 'has-error'">
                    <label th:text="#{label.content}">Content</label>
                    <textarea name="content" id="editor" rows="10" cols="80" th:field="*{content}"></textarea>
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:class="text-red">Incorrect data</p>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" th:text="#{label.submit}">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script>
        var editor = CKEDITOR.replace('editor', {
            height: 600
        });
        CKFinder.setupCKEditor(editor);
        var button1 = document.getElementById('ckfinder-popup-1');
        var button2 = document.getElementById('ckfinder-popup-1-delete');
        button1.onclick = function () {
            selectFileWithCKFinder('imgTitle');
        };
        button2.onclick = function f() {
            document.getElementById('imgTitle').value = "";
            document.getElementById('prev').hidden = true;
            document.getElementById('ckfinder-popup-1-delete').style.display = "none";
        };
        function selectFileWithCKFinder(elementId) {
            CKFinder.popup({
                chooseFiles: true,
                width: 800,
                height: 600,
                onInit: function (finder) {
                    finder.on('files:choose', function (evt) {
                        var file = evt.data.files.first();
                        var output = document.getElementById(elementId);
                        output.value = file.getUrl().substr(file.getUrl().indexOf('/img/')+5);
                        document.getElementById('ckfinder-popup-1-delete').style.display = '';
                        document.getElementById('prev').src = '/img/'.concat(output.value);
                        document.getElementById('prev').hidden = false;
                    });

                    finder.on('file:choose:resizedImage', function (evt) {
                        var output = document.getElementById(elementId);
                        output.value = evt.data.resizedUrl.substr(evt.data.resizedUrl.indexOf('/img/')+5);
                        document.getElementById('prev').src = '/img/'.concat(output.value);
                        document.getElementById('prev').hidden = false;
                    });
                }
            });
        }
    </script>
</th:block>

</body>
</html>
